:root {
  --font-family-main: Arial, "Serif";

  --font-size-s: 12px;
  --font-size-m: 14px;
  --font-size-l: 16px;

  --font-line-s: 20px;
  --font-line-m: 22px;
  --font-line-l: 24px;

  --font-s: var(--font-size-s) / var(--font-line-s) var(--font-family-main);
  --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);
  --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);

  --height-header-app: 85px;

  --width-content: 50%;

  --ml-content: 30%;

  --padding-s: 15px;

  --width-side-bar: 210px;

  --error-color: #850000;
  --error-color-transparent: #85000053;

  --alert-height: 34px
}
