.flex {
  &-all-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-j-between {
    display: flex;
    justify-content: space-between;
  }

  &-j-center {
    display: flex;
    justify-content: center;
  }

  &-align-center {
    display: flex;
    align-items: center;
  }
}

.transparent {
  background-color: transparent;
}

.noBorder {
  border: none;
}
