.appSidebar {
  position: fixed;
  left: 10px;
  top: 10%;
  height: 250px;
  width: 25%;
  max-width: 300px;
  border: 1px solid var(--color-main);
  transition: height .3s linear;
  overflow: hidden;

  &Collapsed {
    height: 45px;
  }
}

.toggleSidebarArrow {
  position: relative;
  height: 45px;

  transition: transform linear .3s;
}

.rotateToggleSidebar {
  transform: rotate(180deg);
}

.items {
  width: 100%;
}

.item {
  width: 100%;
  padding: 10px;
}

.link {
  display: block;
  width: 100%;
  gap: 15px;
  fill: var(--color-main);

  &:hover {
    fill: var(--color-main-revert);
  }
}
