.button_link {
  padding: 6px 8px;
  border-radius: 2px;
  color: var(--color-main);
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
  &:hover {
      background-color: var(--color-main);
      color: var(--color-main-revert);
  }
}

.outline {
  border: 1px solid var(--color-main);
  &:hover {
    border: 1px solid var(--color-main-revert);
}
}
