.appButton {
  padding: 6px 8px;
  color: var(--color-main);
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  &:focus {
      outline: none;
  }
}

.btnWithHover {
  transition: background-color ease-in .2s;
  &:hover {
      color: var(--color-main-revert);
      background-color: var(--color-main);
  }
}

.btnWithHoverShadow {
  transition: background-color ease-in .2s;
  &:hover {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.314);
  }
}

.btnBordered {
  border: 1px solid var(--color-main);
  border-radius: 4px;
}

.btnCircle {
  border-radius: 50%;
}

.btn_m {
  padding: 5px 5px;
}

.btn_l {
  padding: 8px 8px;
}

.btn_xl {
  padding: 14px 14px;
}
